<div data-step="1">
    {{t "You are using an old version of the Aloha desktop app with known security bugs." }}
    <a class="alert-link" href="https://aloha.com/apps" target="_blank" rel="noopener noreferrer">
        {{t "Download the latest version." }}
    </a>
</div>

